@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  margin-top: 30px;
}

.greetingContainer {
  background-image: linear-gradient(to right, #f36f21, #ffdd02);
  height: 40%;
  width: 100%;
  color: white;
  justify-content: center;
  text-align: left;
  border-bottom-left-radius: 50% 120px;
  border-bottom-right-radius: 50% 120px;
}

.greetingContainer.statusIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 5px 10px;
  position: absolute;
  top: 5px;
}
.greeting h2 {
  font-family: Roboto;
  font-size: 25px;
  margin-top: -20px;
  padding: 0px;
  color: white;
}
.statusIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: roboto;
}
.statusIcons p {
  color: black;
  margin-right: 180px;
  margin-bottom: 15px;

  font-weight: bold;
}
.greetingText {
  display: flex;
  gap: 5px;
}
.greetingText img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.statusIcons img {
  width: 16px;
  height: 16px;
  gap: 5px;
  margin-right: 5px;
  margin-left: 8px;
}
.greeting {
  margin-left: 15px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: medium;
}
.greeting p {
  font-size: small;
}
.greetingContainer button {
  background: #1e196b;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
  width: 35%;
  margin-top: 15px;
}
.fuelFoodContainer {
  display: flex;
  gap: 16px;
  padding: 20px;
  margin-top: 10px;
  font-family: Roboto;
}
.leftContainer {
  flex: 1;
  background: linear-gradient(to bottom right, #f76b1c, #ffcc00);
  border-radius: 12px;
  color: white;
  font-weight: bold;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px; /* taller box */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
}
.leftContainer img {
  width: 30%;
  height: auto;
}
.rightContainer img {
  width: 30%;
  height: auto;
}
.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 5px;
}
.orderFoodContainer,
.nearMeContainer {
  background: linear-gradient(to bottom right, #ffcc00, #ffa500);
  border-radius: 12px;
  color: white;
  font-weight: bold;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px; /* shorter stacked boxes */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 130px;
}
.nearMeContainer img {
  width: 20%;
  height: auto;
}
.navBarContainer {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 5px;
  width: 80%;
  cursor: pointer;
  margin-top: 30px;
}
