body {
  background-color: rgb(230, 230, 225);
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3cqh;
  font-family: "Roboto";
}

.blueContainer {
  background: #1e196b;
  height: 150px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.Zlogo img {
  width: 100%;
  height: 10vh;
  object-fit: contain;
}
.yellowLine {
  width: 100%;
  height: 16px;
  background: linear-gradient(to left, #f76b1c, #ffcc00);
}
h3 {
  padding: 0px;
  color: #1e196b;
  margin-top: 10px;
}

.signUpContainer a {
  text-decoration: none;
}
.login,
.login:visited,
.login:hover,
.login:active {
  text-decoration: none;
}

.statusIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 5px 10px;
  position: absolute;
  top: 5px;
}

.statusIcons p {
  color: white;
  margin: 0;
  margin-right: auto;
  font-weight: bold;
}

.statusIcons img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
.inputContainer {
  padding: 10px;
  margin-left: -50px;
  margin-top: 2px;
}
.inputContainer strong {
  margin-left: -15px;
  color: #1e196b;
}
.inputContainer input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-shadow: 0px 4px 10px -4px#fdeadf;
  width: 130%;
}
.signup {
  background: linear-gradient(
    270deg,
    rgba(49, 41, 171, 0.782912) -14.14%,
    #1e196b 82.89%
  );
  color: white;
  padding: 8px;
  width: 50%;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-style: inherit;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

.login {
  color: #1e196b;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.login:hover {
  color: #f76b1c;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
  display: block;
}

.passwordContainer {
  position: relative;
}

.togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
}
